.footer {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(11, 10, 11);
  height: 48px;
  display: flex;
}

.footer__box {
  border-right: 2px solid grey;
  border-bottom: 2px solid rgb(165, 155, 155);
  border-top: 1px solid rgb(165, 155, 155);
  background-color: rgb(14, 12, 14);
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.footer__box a {
  color: white;
}

.footer__box--active {
  background-color: grey;
}
